* {
    padding: auto;
    margin: auto;
    box-sizing: border-box;
}

.khung {
    width: 960px;
    height: 100%;
    font-family: 'Times New Roman', Times, serif;
    border: 2px solid violet;
    background-color: violet;
}

header {
    height: 300px;
    width: 100%;
}

nav {
    height: 100px;
    width: 100%;
    background-color: pink;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li a {
    text-decoration: none;
}

nav ul li a:hover {
    color: whitesmoke;
}

section {
    height: 450px;
    width: 50%;
    float: left;
}

aside {
    height: 450px;
    width: 40%;
    float: right;
}

footer {
    height: 100px;
    clear: both;
    width: 100%;
    background-color: blueviolet;
}

footer ul {
    list-style: none;
    display: flex;
}

footer ul li a {
    text-decoration: none;
}

footer ul li a:hover {
    color: rgb(251, 200, 255);
}